.button{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            color: var(--white);
            display: flex;
            border: 1px solid var(--primary);
            max-width: 150px;
            height: 48px;
            align-items: center;
            justify-content: center;
            

}