.info{
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left{
        display: flex;
        flex-direction: column;
        gap: 36px;
        
        &-title{
            display: inline;
            max-width: 540px;
            
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 32px;
            color: var(--white);
            p{
                display: inline;
                color: var(--primary);
            }

        }
        &-text{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 156%;
            color: var(--gray);
            padding-top: 8px;
            max-width: 465px;
        }
        
    }
    &__right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        &-text{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            color: var(--gray);
            display: flex;
            align-self: center;
            gap: 10px;
            padding: 8px 34px;
            border: 1px solid var(--gray);
            
            div{
                content: '';
                display: inline-block;
                background: var(--primary);
                width: 20px;
                height: 20px;
            }
            p{
                display: inline;
                font-weight: 600;
                color: var(--white);
            }
        }
        &-effect{
            &-logo{
                position: absolute;
                z-index: -1;
                left: 0px;
                top: 60px;
                width: 155px;
                
            }
            &-dots{
                position: absolute;
                z-index: 1;
                bottom: 100px;
                right: 50px;
                width: 84px;
            }
        }

    }
}
.phrases{
    display: flex;
    flex-direction: column;
    
    align-items: end;
    width: fit-content;
    padding-top: 120px;
    margin: 0 auto;
    &__first{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 24px;
        color: var(--white);
        position: relative;
        border: 1px solid var(--gray);
        padding: 32px;
        &-effect{
            position: absolute;
            top: -20px;
            left: 20px;
            background: var(--background);
            padding: 10px;
        }
    }
    &__second{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 24px;
        width: fit-content;
        color: var(--white);
        position: relative;
        border: 1px solid var(--gray);
        padding: 16px;
        &-effect{
            position: absolute;
            top: -20px;
            right: 20px;
            background: var(--background);
            padding: 10px;
        }
    }
    
    
}