.burger{
    position: absolute;
    top: 35px ;
    right: 35px ;
    z-index: 1000;
    width: 175px;
    backdrop-filter: blur(5px);
    border-radius: 30px;
    padding: 30px;
    
    
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
       &-logo{
            display: flex;
            gap: 5px;
            align-items: center;
            &-img{
                width: 15px;
                height: 15px;
            }
            &-title{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 16px;
                color: var(--white);
            }
       }
         &-close{
                width: 20px;
                height: 20px;
                cursor: pointer;
         }
    }
    &__bottom{
        display: flex;
        flex-direction: column;
        gap: 20px;
        &-link{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 14px;
            color: var(--white);
            text-decoration: none;
            
        }
        &-links{
            display: flex;
            gap: 5px;
            transition: 500ms;
            &:hover{
                transform: scale(1.1);
            }

        }
        &-lang{
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 16px;
            color: var(--gray);
            padding-top: 20px;
            transition: 500ms;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}