.skills{
    padding-top: 100px;
    &__title{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 32px;
        color: var(--white);
        align-items: center;
        display: flex;
        gap: 5px;
        img{
            width: 20px;
            height: 42px;
        }

    }
    &__line{
        
        width: 100%;
        margin-left: 10px;
        height: 1px;
        background: var(--primary);
        margin-top: 5px;
    }
    &__block{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px;
    }
    &__soon{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        color: var(--gray);
    }
}