@import url('./fonts.scss');
:root {
  --font-family: "FiraCode", sans-serif;
  --primary: #c778dd;
	--gray: #abb2bf;
	--background: #282c33;
	--white: #fff;
}
.dark {
  --font-family: "FiraCode", sans-serif;
  --primary: #c778dd;
	--gray: #abb2bf;
	--background: #282c33;
	--white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;

}
button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}
input{
    border: none;
    outline: none;
}
.container{
    max-width: 1354px;
    margin: 0 auto;
    width: 100%;
    padding: 0px 50px;
}
body{
    background-color: var(--background);
}

