.contacts{
padding: 100px 0;
     &__title{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 32px;
        color: var(--white);
        align-items: center;
        display: flex;
        gap: 5px;
        width: 100%;
        margin-bottom: 100px;
        img{
            width: 20px;
            height: 42px;
        }

    }
    &__line{
        
        width: 100%;
        margin-left: 10px;
        height: 1px;
        background: var(--primary);
        margin-top: 5px;
    }
    &__left{
        max-width: 500px;
        &-text{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            color: var(--gray);
            text-align: start;
        }
    }
    &__block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 850px) {
            flex-direction: column;
            gap: 50px;
        }
        
    }
    &__right{
        border: 1px solid var(--gray);
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-text{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            color: var(--gray);
            display: flex;
            align-items: center;
            gap: 5px;
        }
        &-title{
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 16px;
            color: var(--white);

        }
    }
}